<div class="crm-container">
  <h1 crm-page-title>{{ts('Edit My Inlay')}}</h1>

  <form name="inlayForm" crm-ui-id-scope>

    <div crm-ui-field="{name: 'inlayForm.name', title: ts('Name (internal)')}">
      <input
        crm-ui-id="inlayForm.name"
        name="name"
        ng-model="inlay.name"
        class="crm-form-text"
        placeholder="{{ts('Our lovely thing')}}"
        style="width: 100%"
        />
    </div>

    <div crm-ui-field="{name: 'inlayForm.suffix', title: ts('Suffix to add!')}">
      <input
          type="text"
          name="suffix"
          class="crm-form-text"
          style="width: 100%"
          crm-ui-id="inlayForm.suffix"
          ng-model="inlay.config.suffix"
          />
    </div>

    <div>
      <button ng-click="save()">{{ts('Save')}}</button>
    </div>
  </form>
</div>
